<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioControle</servlet-name>
        <servlet-class>Control.UsuarioControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoControle</servlet-name>
        <servlet-class>Control.ProdutoControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FotoControle</servlet-name>
        <servlet-class>Control.FotoControle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioControle</servlet-name>
        <url-pattern>/UsuarioControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoControle</servlet-name>
        <url-pattern>/ProdutoControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FotoControle</servlet-name>
        <url-pattern>/FotoControle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
